.App {
  text-align: center;
  background-color: var(--primary-color);
}

:root {
  background-color: var(--primary-color);
  --primary-color: #232323;
  --red: #B43535;
  font-size: 16px; 
}

.earth-wrapper {
  position: relative;
  height: 700px;
  width: 100%;
  overflow: hidden;
}

.earth-wrapper canvas {
  position: relative;
}

.stars-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none; /* So user can still rotate Earth */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

html {
  scroll-behavior: smooth;
}